@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Explore Cars</h1>

    <p>Explore your Dream Cars <b>Buying a new car was the moment of my life</b>.</p>

</div>
