@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Explore Cars</h1>
    <img src="/images/home.jpg" />
    <p>Explore your Dream Cars <a href="https://docs.microsoft.com/aspnet/core">Buying a new car was the moment of my life</a>.</p>
</div>
