@page
@model Dream_car.Pages.Specifications.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Specification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Specification.Fuel_type" class="control-label"></label>
                <input asp-for="Specification.Fuel_type" class="form-control" />
                <span asp-validation-for="Specification.Fuel_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification.Transmission" class="control-label"></label>
                <input asp-for="Specification.Transmission" class="form-control" />
                <span asp-validation-for="Specification.Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification.GPS" class="control-label"></label>
                <input asp-for="Specification.GPS" class="form-control" />
                <span asp-validation-for="Specification.GPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification.Rating" class="control-label"></label>
                <input asp-for="Specification.Rating" class="form-control" />
                <span asp-validation-for="Specification.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification.ModelId" class="control-label"></label>
                <select asp-for="Specification.ModelId" class ="form-control" asp-items="ViewBag.ModelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
